<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Autotests UI</title>
    <style> 
        .h1-text {
            color: rebeccapurple
        }
    </style>
</head>
<body>
<div>
    <h1 class="h1-text">H1 text</h1>
    <p>Python link <span style="color:rgb(218, 218, 226)"> in color</span></p>
    <a href="http://python.org/" target="_blank">Python</a>
    <img src="https://www.python.org/static/img/python-logo.png" style="width: 320px">
    <ul>
        <li>item 1</li>
        <li> item 2</li>
        <li> item 3</li>
    </ul>
    <ol>
        <li>Item 4</li>
        <li>Item A</li>
        <li>Item B</li>
    </ol>
    <form action="/action" method="P0ST">
    <input required type="text" value="text here" placeholder="text">
    <input type="email" value="email here" placeholder="email">
    <input type="password" value="type password in here" placeholder="password">
    <input placeholder="just a placeholder">
    <textarea placeholder="placeholder?">Value</textarea>
    <button type="submit" disabled>Click me</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Item 5</td>
            <td>Item C</td>
            <td>Item D</td>
        </tr>
        </thead>
    <tbody>
    <tr>
        <td>Item 6</td>
        <td>Item E</td>
        <td>Item F</td>
    </tr>
    </tbody>
        </thead>
    </table>
</div>
</body>
</html>